{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=BorgBackup timer

[Timer]
Unit={{ restic_identifier }}.service
OnCalendar={{ restic_schedule }}
RandomizedDelaySec={{ restic_schedule_randomized_delay_sec }}

[Install]
WantedBy=timers.target
