#jinja2: lstrip_blocks: True, trim_blocks: True

# location
one_file_system: true
source_directories: {{ restic_location_source_directories|to_json }}
repositories:
  {% for repo in restic_location_repositories %}
  - path: {{ repo }}
  {% endfor %}
exclude_patterns: {{ restic_location_exclude_patterns|to_json }}
# compatibility with borgmatic < 1.9.0 to avoid db backups location shifts
user_runtime_directory: /root/.borgmatic
{% if restic_location_remote_path|length > 0 %}
remote_path: {{ restic_location_remote_path|to_json }}
{% endif %}

# storage
compression: {{ restic_storage_compression|to_json }}
ssh_command: {{ restic_storage_ssh_command|to_json }}
archive_name_format: {{ restic_storage_archive_name_format|to_json }}
encryption_passphrase: {{ restic_storage_encryption_passphrase|to_json }}
unknown_unencrypted_repo_access_is_ok: {{ restic_unknown_unencrypted_repo_access_is_ok|to_json }}

# retention
keep_hourly: {{ restic_retention_keep_hourly|to_json }}
keep_daily: {{ restic_retention_keep_daily|to_json }}
keep_weekly: {{ restic_retention_keep_weekly|to_json }}
keep_monthly: {{ restic_retention_keep_monthly|to_json }}
keep_yearly: {{ restic_retention_keep_yearly|to_json }}

# consistency
checks:
  - name: repository
  - name: archives

# hooks
{% if restic_postgresql_enabled and restic_postgresql_databases|length > 0 %}
postgresql_databases:
{% for database in restic_postgresql_databases %}
- name: {{ database|to_json }}
  hostname: {{ restic_postgresql_databases_hostname|to_json }}
  username: {{ restic_postgresql_databases_username|to_json }}
  password: {{ restic_postgresql_databases_password|to_json }}
  port: {{ restic_postgresql_databases_port | int | to_json }}
{% endfor %}
{% endif %}

{% if restic_mariadb_enabled and restic_mariadb_databases|length > 0 %}
mariadb_databases:
{% for database in restic_mariadb_databases %}
- name: {{ database|to_json }}
  hostname: {{ restic_mariadb_databases_hostname|to_json }}
  username: {{ restic_mariadb_databases_username|to_json }}
  password: {{ restic_mariadb_databases_password|to_json }}
  port: {{ restic_mariadb_databases_port | int | to_json }}
{% endfor %}
{% endif %}

{% if restic_mongodb_enabled and restic_mongodb_databases|length > 0 %}
mongodb_databases:
{% for database in restic_mongodb_databases %}
- name: {{ database|to_json }}
  hostname: {{ restic_mongodb_databases_hostname|to_json }}
  username: {{ restic_mongodb_databases_username|to_json }}
  password: {{ restic_mongodb_databases_password|to_json }}
  port: {{ restic_mongodb_databases_port | int | to_json }}
{% endfor %}
{% endif %}

{% if restic_mysql_enabled and restic_mysql_databases|length > 0 %}
mysql_databases:
{% for database in restic_mysql_databases %}
- name: {{ database|to_json }}
  hostname: {{ restic_mysql_databases_hostname|to_json }}
  username: {{ restic_mysql_databases_username|to_json }}
  password: {{ restic_mysql_databases_password|to_json }}
  port: {{ restic_mysql_databases_port | int | to_json }}
{% endfor %}
{% endif %}

{% if restic_healthchecks_ping_url|length > 0 %}
healthchecks:
  ping_url: {{ restic_healthchecks_ping_url|to_json }}
  states: {{ restic_healthchecks_states|to_json }}
{% endif %}

{% if restic_ntfy_topic | length > 0 %}
ntfy:
  topic: {{ restic_ntfy_topic | to_json }}
  server: {{ restic_ntfy_server | to_json }}
{% if restic_ntfy_access_username != '' %}
  username: {{ restic_ntfy_access_username | to_json }}
  password: {{ restic_ntfy_access_password | to_json }}
{% elif restic_ntfy_access_token != '' %}
  access_token: {{ restic_ntfy_access_token | to_json }}
{% endif %}
{% endif %}
